.centre{
    background-color: white;
    height: 100vh;
    width: 100%;
}

.article{
    background-color: white;
    top: 0;
    margin:0;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carre{
    height: 25vh;
    width: 25vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    color:white;
}

.nouveautés{
    margin-top: 2vh;
    height: 42.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.news{
    height: 30vh;
    width: 30vh; 
    background-image: url(../img/centre/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: -3px 3px 25px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 25px -6px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 25px -6px rgba(0,0,0,0.75);
}

.newsArticle{
    height: 30vh;
    width: 30vh;
    background-color: white;
    -webkit-box-shadow: -3px 3px 25px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 25px -6px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 25px -6px rgba(0,0,0,0.75);
    transition: .5s;
}

.newsArticle:hover
{
    height: 32vh;
    width: 32vh;
}
.newsArticle:hover img
{
    height: 32vh;
    width: 32vh;
}
.newsArticle img
{
    object-fit: contain;
    height: 30vh;
    width: 30vh;
    transition: .5s;
}

.selection{
    margin-top: 2vh;
    height: 42.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.select{
    height: 30vh;
    width: 30vh; 
    background-image: url(../img/centre/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: -3px 3px 25px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 25px -6px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 25px -6px rgba(0,0,0,0.75);
}

.cataloguebtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trait{
    background-color:#6d071a ;
    height: 0.6vh;
    width: 25vw;
}

.vins{
    position: relative;
    text-decoration: none;
    width: 15%;
    height: 10%;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    font-size: 3vmin;
    color: rgb(0, 0, 0);
    margin-top: 5vh;
}
.vins::before{
    content: "";
    position: absolute;
    top: -0.2vmin;
    left: -0.2vmin;
    width: 0;
    height: 0;
    background: transparent;
    border:0.2vmin solid transparent;
}
.vins:hover::before{
    animation: animate1 0.8s linear forwards;
}
@keyframes animate1{
    0%{
        width: 0;
        height: 0;
        border-top-color: #6d071a;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: #6d071a;
        border-right-color: #6d071a;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: #6d071a;
        border-right-color: #6d071a;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

}
.vins::after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border:2px solid transparent;
}
.vins:hover::after{
    animation: animate2 0.8s linear forwards;
}
@keyframes animate2{
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #6d071a;
    }
    50%{
        width: 0%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #6d071a;
        border-left-color: #6d071a;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #6d071a;
        border-left-color: #6d071a;
    }

}

