header
{
    height: 100vh;
    width : 100%;
}

.navbar
{
    height: 9vh;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    position : relative;
    z-index: 999; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoName
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 16vw;
    margin-left: 4vh;
}
.logoName img
{
    object-fit: contain;
    height : 8vh;
}
.logoName h1
{
    color : #FFF;
    font-family: king;
    font-size: 6vh;
    font-weight: 100;
}
.menu
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width : 50vw;
}

.itemMenu
{
    text-decoration: none;
    color : white;
    margin-right: 3vh;
    font-size: 2vh;
    padding: 0 20px;

}
.menu li
{
    width : 25vh;
    margin-right: 1vh;
    display: flex;
}
.menu li a
{
    width : 25vh;
}


.menu li::before
{
    content : "";
    width : 0px;
    height: 5px;
    background: rgb(255, 166, 0);
    position: absolute;
    top : 80%;
    transition : .4s;
}
.menu li:hover::before 
{
    width : 7vh;
    transform: translateX(100%);
}

.contenuTitle
{
    text-align: center;
    margin-top: 5vh;
    font-size: 4vh;
}

section
{
    height: 85vh;
}

.truks
{
    display: flex;
    width: 100vw;
}
.trucs
{
    margin-right: 5vh;
    list-style-type: none;
}
.supp
{
    background-color: rgb(231, 65, 65);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;  
}

.total
{
    margin-top: 6vh;
}
.addNew
{
    background-color: rgb(65, 109, 231);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    width : 22vh;
}
.cancel
{
    background-color: rgb(231, 65, 65);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;  
    width : 22vh;  
}
.payerTout
{
    display:flex;
    width : 25vw;
    justify-content: space-between;
}
.goPayer
{ 
    display: flex;
    padding : 1.5vh 3vh;

    background-color: rgb(6, 133, 38);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;

    font-size: 3vh;


    height: 6vh;
}