
.main-carousel
{
    height: 50vh !important;
}

.carousel-cell {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.qte
{
    position: absolute;
    bottom: 3vh; 
    right : 50%;
    height: 4vh;
}
  

.carvin
{
    background-color: rgb(187, 187, 187);
    margin-left : 3vh;
    height: 50vh;
    width : 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

} 
.teilleimg
{
    height: 40vh;
    object-fit: contain;
}
.prix
{
    position: absolute;
    bottom : 7vh;
}
.acheter
{
    right : 6%;
    height : 5vh;
    background-color: none;
    position: absolute;
    bottom : 3vh;
}
.teilletitle
{
    width: 30vh;
    position: absolute;
    top : 3vh;
}











.line{
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 0.2vw;
    background: black;
}


.line1{

    top:
 205%;
}



.line2{

    top:
 305%;
}



.line3{

    top: 405%;
}




.titleWine {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vh;
    text-transform: uppercase;
}

.white{
    top: 125%;
}

.rose{
    top: 225%;
}

.bord{
    top: 325%;
}



.wine{
    display: flex;
    position: absolute;
    width: 100%;
    height: 50vh;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.nosVins{
    width: 25vw;
    height: 50vh;
    margin-left: 2vmin;
    margin-right: 2vmin;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300vh;
}

.blanc{
    top: 160%;
}
.rosé{
    top: 260%;
}
.bordeaux{
    top: 360%;
}
.champagne{
    top: 460%;
}